*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    background-color: #ddd;
    outline: none;
  }
  h1{
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
  }
  label{
      font-weight: bold;
      font-size: 14px;
      display: block;
      margin-top: 20px;
  }
  input[type=text], [type=email], [type=password]{
      margin: 0 auto;
      display: block;
      width: 100%;
      padding: 14px;
      margin: 5px 0 2px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
      border-radius: 5px;
      font-size: 14px;
  }
  button{
    display: block;
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 30px 0 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 5px;
  }
  button:hover {
    opacity: 1;

  }
  form{
      display: block;
      margin: 0 auto;
      text-align: left;
      justify-content: center;
      width: 30%;
      padding: 10px 0 200px;
    }
  }
  .inputFirstName{
      display: block;
  }
  .name, .lastname, .adress, .email, .username, .password{
    display: block;
    color: rgb(255, 81, 81);  
    font-size: 12px;
    font-weight: bold; 
    padding: 5px 10px;
  }
  p{
    font-size: 10px;
    text-align: center;
  }
  .bold{
    font-weight: bold;
    text-decoration: underline;
  }
  .test{
    display: flex;
  }
  .inputFirstName{
    width: 45%;
    margin-right: 10%;
  }
 .inputLastName{
  width: 45%;
  }
.adbyps{
  display: flex;
}
#postnr{
  width: 35%;
}
#by{
  width: 60%;
  margin-right: 5%;
}
hr{
  width: 20%;
  margin: 0 auto;
  padding: 0.5px;
  background-color: #4CAF50;
  opacity: 0.9;
}